[submodule ".mvn"]
	path = .mvn
	url = https://github.com/djanta/djanta-java-maven.git
	branch = master
[submodule "travis"]
	path = travis
	url = https://github.com/djanta/djanta-java-travisci.git
	branch = master
[submodule "gnugp"]
	path = .gnugp
	url = https://github.com/djanta/djanta-deploy-gpg.git
	branch = master
