[submodule ".mvn"]
	path = .mvn
	url = git@github.com:djanta/djanta-java-maven.git
	branch = master
[submodule ".gnugp"]
	path = .gnugp
	url = git@github.com:djanta/djanta-build-gpg.git
	branch = master
[submodule ".release"]
	path = .release
	url = git@github.com:djanta/djanta-build-release.git
	branch = master
