[submodule ".mvn"]
	path = .mvn
	url = https://github.com/djanta/djanta-java-maven.git
	branch = master
[submodule "travis"]
	path = travis
	url = https://github.com/djanta/djanta-java-travisci.git
	branch = master
[submodule "travis2"]
	path = travis2
	url = https://github.com/djanta/djanta-java-travisci.git
	branch = master
